In [91]:
import numpy as np
import pandas as pd

In [92]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
combined = [train_df, test_df]
id = test_df.PassengerId

In [93]:
train_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [94]:
test_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [95]:
def age_sorting(datas):
    for i in datas:
        i["Age"] = i["Age"].apply(lambda a: a if a>=18 else np.nan)

In [96]:
age_sorting(combined)

#### Dropping the Name columns in both data because it doesn't matter to train since we have ID.

In [97]:
train_df.drop(['Name'], axis=1, inplace=True)
test_df.drop(["Name"], axis=1, inplace=True)

In [98]:
train_df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,6969.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,33.099871,224.687617,458.077203,173.729169,311.138778,304.854791
std,12.155615,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,40.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [99]:
test_df.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age             810
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
dtype: int64

In [100]:
train_df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,6969.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,33.099871,224.687617,458.077203,173.729169,311.138778,304.854791
std,12.155615,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,40.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [101]:
col = list(test_df.describe().columns)

## Scaling data

In [102]:
def scaler(datas):
    from sklearn.preprocessing import MinMaxScaler
    scale = MinMaxScaler()
    for i in datas:
         i[col] = scale.fit_transform(i[col])

In [103]:
scaler(combined)

### Working on Cabin column
1) I replaced nan value with mode of Cabin
2) Then splitted value by "/"
3) created new data frame and added to train_df and test_df
4) When I splited Cabin delete the cabin from data

In [104]:
for i in combined:
    i.Cabin = i['Cabin'].fillna(i['Cabin'].mode())

In [105]:
cabin1 = []
cabin2 = []
cabin3 = []
def split_cabin(datas):

        for j in datas.Cabin:
            if type(j)  not in [int, float]:
                d = j.split('/')

                cabin1.append(d[0])
                cabin2.append(int(d[1]))
                cabin3.append(d[2])

split_cabin(train_df)
nw_df = pd.DataFrame(data={"cabin1": pd.Series(cabin1),
                           "cabin2": pd.Series(cabin2),
                           "cabin3": pd.Series(cabin3)})
nw_df.fillna(nw_df.mean())

C:\Users\DELL\AppData\Local\Temp\ipykernel_13124\711363136.py:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nw_df.fillna(nw_df.mean())

     cabin1  cabin2 cabin3
0         B       0      P
1         F       0      S
2         A       0      S
3         A       0      S
4         F       1      S
...     ...     ...    ...
8489      A      98      P
8490      G    1499      S
8491      G    1500      S
8492      E     608      S
8493      E     608      S

[8494 rows x 3 columns]

In [106]:
cab1 = []
cab2 = []
cab3 = []
def split_cabin(datas):

    for j in datas.Cabin:
        if type(j)  not in [int, float]:
            d = j.split('/')

            cab1.append(d[0])
            cab2.append(int(d[1]))
            cab3.append(d[2])

split_cabin(test_df)
nw_test = pd.DataFrame(data={"cabin1": pd.Series(cab1),
                           "cabin2": pd.Series(cab2),
                           "cabin3": pd.Series(cab3)})
nw_test.fillna(nw_test.mean())

C:\Users\DELL\AppData\Local\Temp\ipykernel_13124\3266186088.py:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nw_test.fillna(nw_test.mean())

     cabin1  cabin2 cabin3
0         G       3      S
1         F       4      S
2         C       0      S
3         C       1      S
4         F       5      S
...     ...     ...    ...
4172      F    1796      S
4173      G    1496      S
4174      D     296      P
4175      D     297      P
4176      G    1498      S

[4177 rows x 3 columns]

In [107]:
# # Adding nw_df to train_df and test_df
train_df = pd.concat([train_df, nw_df], axis=1)
train_df.drop(["Cabin"], axis=1, inplace=True)
test_df = pd.concat([test_df, nw_test], axis=1)
test_df.drop(["Cabin"], axis=1, inplace=True)

In [108]:
train_df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,cabin1,cabin2,cabin3
0,0001_01,Europa,False,TRAPPIST-1e,0.344262,False,0.000000,0.000000,0.000000,0.000000,0.000000,False,B,0.0,P
1,0002_01,Earth,False,TRAPPIST-1e,0.098361,False,0.007608,0.000302,0.001064,0.024500,0.001823,True,F,0.0,S
2,0003_01,Europa,False,TRAPPIST-1e,0.655738,True,0.003001,0.119948,0.000000,0.299670,0.002030,False,A,0.0,S
3,0003_02,Europa,False,TRAPPIST-1e,0.245902,False,0.000000,0.043035,0.015793,0.148563,0.007997,False,A,0.0,S
4,0004_01,Earth,False,TRAPPIST-1e,NaN,False,0.021149,0.002348,0.006428,0.025214,0.000083,True,F,1.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,55 Cancri e,0.377049,True,0.000000,0.228726,0.000000,0.073322,0.003066,False,NaN,NaN,NaN
8689,9278_01,Earth,True,PSO J318.5-22,0.000000,False,0.000000,0.000000,0.000000,0.000000,0.000000,False,NaN,NaN,NaN
8690,9279_01,Earth,False,TRAPPIST-1e,0.131148,False,0.000000,0.000000,0.079687,0.000045,0.000000,True,NaN,NaN,NaN
8691,9280_01,Europa,False,55 Cancri e,0.229508,False,0.000000,0.035186,0.000000,0.015753,0.134049,False,NaN,NaN,NaN
8692,9280_02,Europa,False,TRAPPIST-1e,0.426230,False,0.008795,0.157247,0.000000,0.000000,0.000497,True,NaN,NaN,NaN

## Identifying the categorical columns. What I did is write the object datatype columns

In [109]:
test_df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,cabin1,cabin2,cabin3
0,0013_01,Earth,True,TRAPPIST-1e,0.147541,False,0.000000,0.000000,0.00000,0.000000,0.000000,G,3.0,S
1,0018_01,Earth,False,TRAPPIST-1e,0.016393,False,0.000000,0.000356,0.00000,0.142260,0.000000,F,4.0,S
2,0019_01,Europa,True,55 Cancri e,0.213115,False,0.000000,0.000000,0.00000,0.000000,0.000000,C,0.0,S
3,0021_01,Europa,False,TRAPPIST-1e,0.327869,False,0.000000,0.263206,0.00000,0.009121,0.026266,C,1.0,S
4,0023_01,Earth,False,TRAPPIST-1e,0.032787,False,0.000865,0.000000,0.07658,0.000000,0.000000,F,5.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,TRAPPIST-1e,0.262295,False,0.000000,0.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN
4273,9269_01,Earth,False,TRAPPIST-1e,0.393443,False,0.000000,0.033514,0.00205,0.000504,0.006466,NaN,NaN,NaN
4274,9271_01,Mars,True,55 Cancri e,NaN,False,0.000000,0.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN
4275,9273_01,Europa,False,NaN,NaN,False,0.000000,0.106042,0.00000,0.000000,0.023482,NaN,NaN,NaN
4276,9277_01,Earth,True,PSO J318.5-22,0.409836,False,0.000000,0.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN

In [110]:
labels = ["PassengerId", 'HomePlanet', "CryoSleep","Destination", "VIP", "cabin1", 'cabin3']

In [111]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8693 entries, 0 to 8692
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Destination   8511 non-null   object
 4   Age           6969 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Transported   8693 non-null   bool
 12  cabin1        8494 non-null   object
 13  cabin2        8494 non-null   float64
 14  cabin3        8494 non-null   object
dtypes: bool(1), float64(7), object(7)
memory usage: 1.0+ MB

#### Changing dtypes of data

In [112]:
cols = train_df.select_dtypes(include=['object']).columns.to_list()
train_df = train_df.astype({col:str for col in cols})
cols = test_df.select_dtypes(include=['object']).columns.to_list()
test_df = test_df.astype({col:str for col in cols})

In [113]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()
def encoding(datas):
    for j in labels:
            datas[j] = lab.fit_transform(datas[j])
def test_df_encoding(datas):
    for j in labels:
        datas[j] = lab.fit_transform(datas[j])

In [114]:
encoding(train_df)
test_df_encoding(test_df)

In [115]:
train_df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,cabin1,cabin2,cabin3
0,0,1,0,2,0.344262,0,0.000000,0.000000,0.000000,0.000000,0.000000,False,1,0.0,0
1,1,0,0,2,0.098361,0,0.007608,0.000302,0.001064,0.024500,0.001823,True,5,0.0,1
2,2,1,0,2,0.655738,1,0.003001,0.119948,0.000000,0.299670,0.002030,False,0,0.0,1
3,3,1,0,2,0.245902,0,0.000000,0.043035,0.015793,0.148563,0.007997,False,0,0.0,1
4,4,0,0,2,NaN,0,0.021149,0.002348,0.006428,0.025214,0.000083,True,5,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,8688,1,0,0,0.377049,1,0.000000,0.228726,0.000000,0.073322,0.003066,False,8,NaN,2
8689,8689,0,1,1,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,False,8,NaN,2
8690,8690,0,0,2,0.131148,0,0.000000,0.000000,0.079687,0.000045,0.000000,True,8,NaN,2
8691,8691,1,0,0,0.229508,0,0.000000,0.035186,0.000000,0.015753,0.134049,False,8,NaN,2
8692,8692,1,0,2,0.426230,0,0.008795,0.157247,0.000000,0.000000,0.000497,True,8,NaN,2

In [116]:
train_df.fillna((train_df.mean()), inplace=True)
test_df.fillna((train_df.mean()), inplace=True)

In [117]:
test_df.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
cabin1          0
cabin2          0
cabin3          0
dtype: int64

### Training the data

In [163]:
from sklearn.model_selection import train_test_split
# models
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier

In [164]:
x = train_df.drop(['Transported'], axis=1)
y = train_df['Transported']

In [165]:

x = x.astype(float)
test_df = test_df.astype(float)
X_train, X_test, y_train, y_test = train_test_split(x, y, train_size = 0.2,  random_state=42)
X_train

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,cabin1,cabin2,cabin3
1418,1418.0,0.0,0.0,0.0,0.247539,0.0,0.000000,0.001845,0.038864,0.000000,0.002279,1.0,50.0,0.0
1560,1560.0,0.0,0.0,2.0,0.360656,0.0,0.000000,0.027069,0.000000,0.000000,0.000000,6.0,276.0,0.0
4135,4135.0,0.0,0.0,1.0,0.311475,0.0,0.049906,0.000000,0.002299,0.000000,0.000000,5.0,848.0,1.0
5582,5582.0,2.0,0.0,2.0,0.016393,0.0,0.020939,0.000168,0.027328,0.000000,0.000000,2.0,186.0,0.0
7287,7287.0,2.0,0.0,0.0,0.442623,0.0,0.056537,0.000000,0.005619,0.008836,0.000000,5.0,1653.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,5734.0,0.0,2.0,2.0,0.000000,0.0,0.000977,0.000067,0.006130,0.027222,0.000000,5.0,1191.0,1.0
5191,5191.0,2.0,0.0,2.0,0.524590,2.0,0.048161,0.000000,0.001277,0.034006,0.017735,4.0,360.0,0.0
5390,5390.0,0.0,0.0,1.0,0.065574,0.0,0.011028,0.000000,0.020262,0.000000,0.001077,6.0,954.0,0.0
860,860.0,2.0,0.0,2.0,0.262295,0.0,0.026454,0.000000,0.069215,0.000000,0.000000,5.0,199.0,0.0
7270,7270.0,1.0,0.0,0.0,0.163934,0.0,0.000489,0.016402,0.000000,0.000179,0.249741,6.0,1290.0,0.0

In [193]:
model =RandomForestClassifier(max_depth=10, random_state=0)
model.fit(x, y)

RandomForestClassifier(max_depth=10, random_state=0)

In [194]:
pred = model.predict(test_df)

In [195]:
pred

array([ True, False,  True, ...,  True,  True,  True])

0.7838964773544213

In [196]:
new_dt = pd.DataFrame(data=pred,index=id, columns=['Transported'])
new_dt.to_csv("Submission5.csv")